<mat-card class="single-card">
  <mat-card-header>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>Cena: {{product.price}} zł</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]= "product.photoUrl"
    alt="zdjęcie">
  <mat-card-content>
    <p>
      {{product.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>ZOBACZ</button>
    <button mat-button>KUP</button>
    <button mat-button>DODAJ DO ULUBIONYCH</button>
  </mat-card-actions>
</mat-card>
