<mat-card class="single-card">
  <mat-card-header>
    <mat-card-title>{{product.Name}}</mat-card-title>
    <mat-card-subtitle>Cena: {{product.Price}} zł</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]= "product.PhotoUrl"
    alt="zdjęcie">
  <mat-card-content>
    <p>
      {{product.Description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>ZOBACZ</button>
    <div class="shop">
      <button mat-button><mat-icon class="example-icon" aria-hidden="false" aria-label="Dodaj do koszyka">add_shopping_cart</mat-icon></button>
      <button mat-button><mat-icon class="example-icon" aria-hidden="false" aria-label="Ulubione">favorite</mat-icon></button>
    </div>
  </mat-card-actions>
</mat-card>
